.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

#tour {
  height:3000px;
}

#about {
  height:3000px;
}

#pricing {
  height:3000px;
}

#contact {
  height:3000px;
}

#registration {
  margin:auto;
  width: 260px;
  background-color:#eeeeee;
  padding:1em;
  border-radius: 1em;
  text-align:center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);;
}

.form-horizontal {
  margin:0;
}